<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      Hello World
    </h2>
  </div>
    <div>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Sed ullamcorper
          morbi tincidunt ornare massa eget egestas purus viverra. Odio eu feugiat
           pretium nibh ipsum consequat nisl vel pretium. Condimentum id venenatis 
           a condimentum. At consectetur lorem donec massa sapien faucibus et.
            Sodales ut etiam sit amet nisl purus in mollis nunc. Id diam maecenas
             ultricies mi eget mauris pharetra. Aenean pharetra magna ac placerat 
             vestibulum lectus. In massa tempor nec feugiat nisl pretium fusce id 
             velit. Volutpat blandit aliquam etiam erat velit. Semper quis lectus 
             nulla at volutpat diam. Donec et odio pellentesque diam volutpat 
             commodo sed egestas egestas. Quis risus sed vulputate odio ut. 
             Ut eu sem integer vitae justo eget. Volutpat odio facilisis mauris 
             sit amet massa vitae tortor condimentum.</p>
    </div>
  </div>
</div>