/* Section to style for nav bar */

.navbar-dark .navbar-nav .nav-link {
  color: black; /* Default color for all links */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white; /* Hover color for all links */
}

/*
.navbar-dark .navbar-nav .nav-item.active .nav-link {
  color: green; 
} 

/*
.navbar-dark .navbar-nav .nav-item.active .nav-link:hover {
  color: blue; 
}
*/
/* End of styles for nav bar */


/*tech blog style*/
.container-fluid.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  margin: 0; /* Reset any default margin */
}

.no-hover-effect {
  pointer-events: none; /* Disable pointer events */
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}
/* End tech blog style */


/* signin/login form*/
.form-signin {
  color: black;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.login-form {
  color: black;
}

.login-link {
  color: black;
}
/* End signin/login form*/


/* Handle comment cards */
.card {
  margin-top: 20px;
}
.card-header {
  padding-top: 20px;
}

.card-header h4 a,
.card-body .card-text {
  color: black;
}
/* Handle comment cards */

/* Sytle for link*/
.link {
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Set the font size to your desired value */
  /* Add any additional styling here */
}
/* End of styles for links*/


/* hover effects for create/update/delete button */
.button-with-hover {
  background-color: gray;
  transition: background-color 0.3s;
}

.button-with-hover:hover {
  background-color: lightgray;
}

.delete-post-btn:hover {
  background-color: rgb(203, 36, 36);
}
/* End hover effects for create/update/delete button */

